@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* CSS変数の定義 */
  :root {
    --primary: #35dd41;
    --secondPrimary: #fff641;
    --black: #333333;
    --strongBlack: #000000;
    --white: #ffffff;
    --gray: #c0c0c0;
    --darkGray: #4e4d4d;
  }
}

body {
  font-family: "Helvetica", "Noto Sans JP", sans-serif;
  color: var(--white);
  background-color: var(--strongBlack);
}
