@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* CSS変数の定義 */
  :root {
    --primary: #fff641;
    --secondPrimary: #35dd41;
    --black: #333333;
    --white: #ffffff;
    --grey: #c0c0c0;
  }
}
